@import '../variables';

.categories {
  @media (max-width: 960px) {
    margin-top: 30px;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 5px;
  }

  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
.categories::-webkit-scrollbar {
  width: 0;
}
.categories::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}
.categories::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #f6f6f6, #ffdf8c);
}
